@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background: #010409;
}
@media (max-width: 1100px) {
  #card_container {
    height: 275px;
    width: 179px;
  }
  #flag_name {
    font-size: 13px;
  }
  #description_span {
    font-size: 12px;
  }
  #description_display {
    font-size: 12px;
  }
  #flag_description {
    padding: 16px;
  }
  .cagalot {
    gap: 35px;
  }
  #individual-flag-des
  {
    display: flex;
    gap: 30px;
  }
  #individual_page_content_container
  {
    gap: 30px;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 867px) {
  #card_container {
    height: 335px;
    width: 249px;
  }
  #flag_name {
    font-size: 16px;
  }
  #description_span {
    font-size: 16px;
  }
  #description_display {
    font-size: 16px;
  }
  #flag_description {
    padding: 20px;
  }
}
@media (max-width: 375px) {
  .search_container
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  #catalog
  {
    padding: 20px;
    justify-content: center;
  }
  .header
  {
    padding: 20px;
  }
  #border-none
  {
    height: 76px;
  }
  #header_title
  {
    font-size: 12px;
  }
}