.search_container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search_input_wrapper
{
    position: relative;
}
.search_input
{
    padding-left: 50px;
    padding-right: 20px;
    height: 51px;
    border-radius: 7px;
    width: 308px;
    border: none;
    color: white;
    background: #161b22;
}
.search_input:focus
{
    outline: none;
}
.search_logo
{
    position: absolute;
    width: 24px;
    top: 14px;
    left: 17px;
}
.menu_dd_button
{
    height: 51px;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    justify-content: space-between;
    cursor: pointer;
    background: #161b22;
    border-radius: 7px;
    gap: 15px;
    width: 221px;
}
.menu_dd_button span
{
    color: rgb(203 203 203);
    font-size: 13px;
}
.options_container span:hover
{
    font-weight: 700;
}
#show
{
    font-weight: 700;
}
.arrow
{
    margin-bottom: 1px;
    border: solid rgb(203 203 203);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    transition: transform 300ms;
}
.menu_dropdown_container
{
    position: relative;
}
.rotate
{
    transform: rotate(-135deg);
    margin-top: 7px;
}
.options_container
{
    padding: 20px;
    width: 100%;
    border-radius: 7px;
    background: #161b22;
    flex-direction: column;
    gap: 8px;
    position: relative;
    transform: translateY(10px);
    animation-name: move;
    animation-duration: 300ms;
    position: absolute;
    z-index: 100;
}
@keyframes move {
    from {top: 25px}
    to {top: 50px}
}
.options_container span
{
    text-decoration: none;
    color: rgb(240, 240, 240);
}